<h1><strong>Contact</strong></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia pariatur placeat ab culpa deserunt molestias iste ducimus magni velit sed nulla eius officiis saepe maxime voluptates ratione, optio perferendis. Magnam.</p>
<div class="row">
    <div class="col">
        <div class="card m-5">
            <div class="card-body">
                <form>
                    <div class="mb-3 row">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="row">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control col-4" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                
            </div>
          </div>
    </div>
</div>