<!-- your html code here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1 class="d-block">This first Heading
                <span class="text-secondary">Will Catch Your Eye</span>
            </h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, magni hic quia repellendus culpa
                commodi
                assumenda magnam obcaecati eligendi quibusdam corporis totam, id dicta nisi aliquid recusandae vel
                ratione
                sint.</p>
        </div>
        <div class="col-4">
            <img src="/website/assets/img/1.jpg" class="rounded-circle img-fluid" alt="">
        </div>
    </div>
</div>