<h2><strong>Portfafolio</strong></h2>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam vero quasi
  harum veritatis eveniet ab recusandae illum perspiciatis quaerat, blanditiis
  consequatur ipsa, nisi voluptate repellat magni, numquam voluptas
  exercitationem modi!
</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 border-0">
      <img
        src="./assets/img/big-project-image.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut error
          sunt, dolores rem magni explicabo quasi neque, omnis ex nisi obcaecati
          iusto quae, labore odio ab illum provident laudantium recusandae?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border-0">
      <img
        src="./assets/img/big-project-image.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          temporibus omnis unde quod, similique, quas quia tempore illo quo
          corporis maxime veniam consequatur reiciendis rerum laudantium nobis.
          Deleniti, sunt consectetur.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 border-0">
      <img
        src="./assets/img/big-project-image.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
          maiores soluta harum quidem, porro, dolorem nesciunt ut aperiam aut
          vitae autem officiis laboriosam accusantium delectus. Pariatur autem
          nulla sed voluptate.
        </p>
      </div>
    </div>
  </div>
</div>
